{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "prettier", 
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "linebreak-style": ["error"],
    "curly": "error",
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}